{% extends 'adminbase.html' %}
{% load static %}

{% block body %}
<body style='background-image:url("{% static 'images/r6.jpg' %}");'>
<div class="container">
  <div class="row">
    <div class="col">
      <br></br>
      <br></br>
      <h1>Approved Members</h1>
      <br></br>
      <br></br>
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>Customer Name</th>
              <th>Card Number</th>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Age</th>
              <th>Gender</th>
              <th>Occupation</th>
              <th>Relation</th>
            </tr>
          </thead>
          <tbody>
            {% for member in members %}
            <tr>
              <td>{{ member.customer_name }}</td>
              <td>{{ member.card_number }}</td>
              <td>{{ member.fname }}</td>
              <td>{{ member.lname }}</td>
              <td>{{ member.age }}</td>
              <td>{{ member.gender }}</td>
              <td>{{ member.occu }}</td>
              <td>{{ member.relation }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock body %}
