{% extends 'base.html' %}
{% load static %}
{% block content %} 
{% if message %}
<script>
alert("{{ message }}")
</script>
{% endif %}
<!-- Estimate_area start  -->
            <div class="col-xl-8 col-lg-8 col-md-7">
                <div class="form">
                    <form id="register-form" action="" method="post">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-xl-6">
                                <div class="input_field">
                                    <label for="card">Card:</label>
                                    <select name="card">
                                        {% for d in card %}
                                                     <option value="{{d.id}}">{{d.card}} </option>
                                                             {% endfor %}
                                     </select>
                                </div>
                            </div>
                            <div class="col-xl-6">
                                <div class="input_field">
                                    <label for="name">Name:</label>
                                    <input type="text" name="name" placeholder="Your name">
                                </div>
                            </div>
                            <div class="col-xl-6">
                                <div class="input_field">
                                    <label for="card_number">Card Number:</label>
                                    <input type="card_number" name="card_number" placeholder="11 digit Ration Card Number">
                                </div>
                            </div>
                            <div class="col-xl-6">
                                <div class="input_field">
                                    <label for="email">Mail Id:</label>
                                    <input type="email" name="email" placeholder="Email">
                                </div>
                            </div>
                            <div class="col-xl-6">
                                <div class="input_field">
                                    <label for="contact">Contact:</label>
                                    <input type="contact" name="contact" placeholder="Contact Number">
                                </div>
                            </div>
                            <div class="col-xl-6">
                                <div class="input_field">
                                    <label for="address">Permanent Address:</label>
                                    <input type="address" name="address" placeholder="Address">
                                </div>
                            </div>
                            <div class="col-xl-6">
                                <div class="input_field">
                                    <label for="location">Place:</label>
                                    <input type="location" name="location" placeholder="Place">
                                </div>
                            </div>
                            <div class="col-xl-6">
                                <div class="input_field">
                                    <label for="password">Password:</label>
                                    <input type="password" name="password" placeholder="Password">
                                </div>
                            </div>
                            {% comment %} <div class="col-xl-6">
                                <div class="input_field">
                                    <select class="wide">
                                        <option data-display="Product type">Product type</option>
                                        <option value="1">small</option>
                                        <option value="2">standard</option>
                                        <option value="3">high</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-xl-6">
                                <div class="input_field">
                                    <select class="wide">
                                        <option data-display="Product size">Product size</option>
                                        <option value="1">M</option>
                                        <option value="2">L</option>
                                        <option value="3">Xl</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-xl-6">
                                <div class="input_field">
                                    <select class="wide">
                                        <option data-display="City of departure">City of departure</option>
                                        <option value="1">departure</option>
                                        <option value="2">departure</option>
                                        <option value="3">departure</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-xl-6">
                                <div class="input_field">
                                    <select class="wide">
                                        <option data-display="Delivery city">City of departure</option>
                                        <option value="1">Delivery</option>
                                        <option value="2">Delivery</option>
                                        <option value="3">Delivery</option>
                                    </select>
                                </div> 
                            </div>
                            <div class="col-xl-12">
                                <div class="input_field">
                                    <textarea placeholder="Message"></textarea>
                                </div>
                            </div>{% endcomment %}
                            <div class="col-xl-12">
                                <div class="input_field">
                                    <input type="submit" value="Register here" class="boxed-btn3-line">                                  
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Estimate_area end  -->
{% endblock  %}