{% extends 'customerbase.html' %}
{% load static %}
{% block body %}
<body style='background-image:url("{% static 'images/r6.jpg' %}");'>

<div class="w-75 h-100" style="margin-left: 300px;margin-top:100px;">
      <center><h2>Booking status</h2></center>
      <table class="w-100 text-center">
            <tr>
                  <th>Item Name</th>
                  <th>Quantity</th>
                  <th>Price</th>
                  <th>Booking Date</th>
                  <th>Pickup Time</th>
                  <th>Status</th>
            </tr>
            {% for b in books %}
            <tr>
                  <td>{{ b.item }}</td>
                  <td>{{ b.quantity }} Kg</td>
                  <td>Rs.{{ b.rate }}</td>
                  <td>{{ b.booking_date }}</td>
                  <td>{{ b.pickup_time }}</td>
                  <td>{{ b.status }}</td>
            </tr>
            {% endfor %}
            
      </table>
</div>
<style>
      table,th{
            border: 1px solid black;
      }
</style>
{% endblock body %}
