{% extends 'customerbase.html' %}
{% load static %}
{% block body %}

<center><h2>Book Items</h2></center>

<script>
    function calculateTotal() {
        var items = document.getElementsByName("itemname");
        for (var i = 0; i < items.length; i++) {
            var qty = parseInt(document.getElementById("qty" + i).value);
            var rate = parseInt(document.getElementById("rate" + i).value);
            var total = qty * rate;
            if (items[i].checked) {
                document.getElementById("total" + i).value = total;
            } else {
                document.getElementById("total" + i).value = '';
            }
        }
    }
</script>

<body style='background-image:url("{% static 'images/r5.jpg' %}");'>

    <div class="h-100">
        <div class="p-3 h-100">
           <center> <form action="" method="POST" style="margin-left: 100px;">
                {% csrf_token %}
                {% for c in items %}

                <label for="item{{ forloop.counter0 }}">Item</label>
                <input type="checkbox" name="itemname" id="item{{ forloop.counter0 }}" value="{{ c.item }}" onclick="calculateTotal()">{{ c.item }}
                <br><br>
                <label for="qty{{ forloop.counter0 }}" style="display: inline-block;">Quantity</label>
                <input type="number" name="quant" id="qty{{ forloop.counter0 }}" value="{{ c.quantity }}" readonly onchange="calculateTotal()" style="display: inline-block; width: 100px;">

                <label for="rate{{ forloop.counter0 }}" style="display: inline-block;">Rate</label>
                <input type="number" name="rate" id="rate{{ forloop.counter0 }}" value="{{ c.rate }}" readonly onchange="calculateTotal()" style="display: inline-block; width: 100px;">

                <label for="total{{ forloop.counter0 }}" style="display: inline-block;">Total</label>
                <input type="number" name="total" id="total{{ forloop.counter0 }}" readonly style="display: inline-block; width: 100px;">
                <br><br>

                {% endfor %}

                <label for="pickupTime">Pickup Time</label>
                <input type="time" name="times" id="pickupTime">
                <br><br>
                <input type="submit" name="" id="bookButton" value="Book">
            </form></center>
        </div>
    </div>

    <style>
      label {
          margin-right: 10px;
      }
  
      input[type="checkbox"] {
          margin-right: 5px;
      }
  
      input[type="number"] {
          margin-right: 10px;
      }
  
      #bookButton {
          background-color: #4CAF50; /* Green color */
          color: white;
          padding: 20px 80px; /* Increase size */
          border: none;
          border-radius: 5px;
          cursor: pointer;
          font-size: 16px;
      }
  
      #bookButton:hover {
            background-color: #45a049; /* Darker green color on hover */
      }
  </style>

    {% endblock body %}
