{% extends 'base.html' %}
{% load static %}
{% block content %} 
{% if message %}
<script>
alert("{{ message }}")
</script>
{% endif %}
<!-- Estimate_area start  -->
<div class="Estimate_area overlay">
    <div class="container">
        <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-5">
                <div class="Estimate_info">
                    <h3>Register to avail services</h3>
                    <p>The Department of Civil Supplies functions under the Department of Food, Civil Supplies and Consumer Affairs of the Government of Kerala.</p>
                    <a href="#" class="boxed-btn3">+91 9966336699</a>
                </div>
            </div>
            <div class="col-xl-8 col-lg-8 col-md-7">
                <div class="form">
                    <form id="register-form" action="" method="post">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-xl-6">
                                <div class="input_field">
                                    <label for="name">Owner Name:</label>
                                    <input type="text" id="ownerName" name="name" placeholder="Owner name" oninput="validateOwnerName(this)">
                                    <span id="ownerNameError" class="error-message"></span>
                                </div>
                            </div>
                            
                            <script>
                            function validateOwnerName(input) {
                                var ownerName = input.value.trim();
                                var ownerNameError = document.getElementById('ownerNameError');
                            
                                // Regular expression to allow only characters (alphabets)
                                var regex = /^[a-zA-Z]+$/;
                            
                                if (ownerName === '') {
                                    ownerNameError.textContent = 'Owner name is required';
                                    input.classList.add('error-border');
                                } else if (!regex.test(ownerName)) {
                                    ownerNameError.textContent = 'Only characters are allowed';
                                    input.classList.add('error-border');
                                } else {
                                    ownerNameError.textContent = '';
                                    input.classList.remove('error-border');
                                }
                            }
                            </script>
                            <div class="col-xl-6">
                                <div class="input_field">
                                    <label for="license">License Number:</label>
                                    <input type="license" name="license" placeholder="10 digit License Number">
                                </div>
                            </div>
                            <div class="col-xl-6">
                                <div class="input_field">
                                    <label for="email">Mail Id:</label>
                                    <input type="email" name="email" placeholder="Email">
                                </div>
                            </div>
                            <div class="col-xl-6">
                                <div class="input_field">
                                    <label for="mobile">Contact:</label>
                                    <input type="mobile" name="mobile" placeholder="Contact Number">
                                </div>
                            </div>
                            <div class="col-xl-6">
                                <div class="input_field">
                                    <label for="address">Permanent Address:</label>
                                    <input type="address" name="address" placeholder="Address">
                                </div>
                            </div>
                            <div class="col-xl-6">
                                <div class="input_field">
                                    <label for="location">Place:</label>
                                    <input type="location" name="location" placeholder="Place">
                                </div>
                            </div>
                            <div class="col-xl-6">
                                <div class="input_field">
                                    <label for="password">Password:</label>
                                    <input type="password" name="password" placeholder="Password">
                                </div>
                            </div>
                            <div class="col-xl-12">
                                <div class="input_field">
                                    <input type="submit" value="Register here" class="boxed-btn3-line">                                  
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Estimate_area end  -->
{% endblock  %}