{% extends 'base.html' %}
{% load static %}
{% block body %}

<body style='background-image:url("{% static 'images/r5.jpg' %}");'>

{% if message %}
<script>
alert("{{ message }}")
</script>
{% endif %}
    <!-- slider_area_start -->
    <div class="slider_area">
        <div class="single_slider  d-flex align-items-center slider_bg_1">
            <div class="container">
                <div class="row align-items-center justify-content-center">
                    <div class="col-xl-8">
                        <div class="slider_text text-center justify-content-center">
                            {% comment %} <p>New idea for a better life</p> {% endcomment %}
                            <br></br>
                            <h3>ONLINE RATION SHOP</h3>
                            <h3>SHOP TIMINGS</h3>
                                {% comment %} <a class="boxed-btn3" href="service.html">Our Services</a> {% endcomment %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <!-- slider_area_end -->

    <!-- contact_location  -->
    <div class="col-xl-12">
        <div id="page-inner" >
            <h1>Working Hours</h1>
            <br>
            <table class="table table-bordered table-striped table-hover">
                <thead>
                  <tr>
                    <th class="info"></th>
                    <th class="info text-center" colspan="2">For Noon</th>
                    <th class="info text-center" colspan="2">after  Noon</th>
                    
                  </tr>
                  <tr>
                    <th class="info">Day</th>
                    <th class="info">Opening Time</th>
                    <th class="info">Closing Time</th>
                    <th class="info">Opening Time</th>
                    <th class="info">Closing Time</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Monday</td>
                    <td>8:00 AM</td>
                    <td>12:00 PM</td>
                    <td>4:00 AM</td>
                    <td>8:00 PM</td>
                  </tr>
                  <tr>
                    <td>Tuesday</td>
                    <td>8:00 AM</td>
                    <td>12:00 PM</td>
                    <td>4:00 AM</td>
                    <td>8:00 PM</td>
                  </tr>
                  <tr>
                    <td>Wednesday</td>
                    <td>8:00 AM</td>
                    <td>12:00 PM</td>
                    <td>4:00 AM</td>
                    <td>8:00 PM</td>
                  </tr>
                  <tr>
                    <td>Thursday</td>
                    <td>8:00 AM</td>
                    <td>12:00 PM</td>
                    <td>4:00 AM</td>
                    <td>8:00 PM</td>
                  </tr>
                  <tr>
                    <td>Friday</td>
                    <td>8:00 AM</td>
                    <td>12:00 PM</td>
                    <td>4:00 AM</td>
                    <td>8:00 PM</td>
                  </tr>
                  <tr>
                    <td>Saturday</td>
                    <td>8:00 AM</td>
                    <td>12:00 PM</td>
                    <td>4:00 AM</td>
                    <td>8:00 PM</td>
                  </tr>
                  <tr>
                    <td>Sunday</td>
                    
                    <th class="text-center" colspan="4">closed</th>
                  </tr>
                </tbody>
              </table>
              
        </div>
    </div>

    <!--/ contact_location  -->

    
      
{% endblock body %}