{% extends 'shopownerbase.html' %}
{% load static %}
{% block body %}
<div class="w-75 h-100" style="margin-left: 300px;margin-top:100px;">
      <table class="w-100 text-center">
            <tr>
                  <th>Customer Name</th>
                  <th>Card Number</th>
                  <th>Card Type</th>
                  <th>Card Color</th>
                 
            </tr>
            {% for c in customers %}
            <tr>
                  <td>{{c.name}}</td>
                  <td>{{c.cardnumber}}</td>
                  <td>{{c.cardtype}}</td>
                  <td>{{c.cardcolor}}</td>
                  
                 

            </tr>
            {% endfor %}
            
      </table>
</div>
<style>
      table,th{
            border: 1px solid black;
      }
</style>

{% endblock body %}
