{% extends 'customerbase.html' %}
{% load static %}
{% block body %}
<body style='background-image:url("{% static 'images/r6.jpg' %}");'>
      
      <table class="w-100 text-center">
            <tr>
                  <th>Item Name</th>
                  <th>Quantity</th>

            </tr>
            {% for i in stocklist %}
            <tr>
                  <td>{{i.item}}</td>
                  <td>{{i.quantity}} Kg</td>
                 
            </tr>
            {% endfor %}
            
      </table>
</div>
<style>
      table,th{
            border: 1px solid black;
      }
</style>
{% endblock body %}