{% extends 'customer/base.html' %}
{% load static %}
{% block content %} 
{% if message %}
<script>
alert("{{ message }}")
</script>
{% endif %}
    <!-- slider_area_start -->
    <div class="slider_area">
        <div class="single_slider  d-flex align-items-center slider_bg_1">
            <div class="container">
                <div class="row align-items-center justify-content-center">
                    <div class="col-xl-8">
                        <div class="slider_text text-center justify-content-center">
                            {% comment %} <p>user</p> {% endcomment %}
                            <h3>CUSTOMER CART PAGE</h3>
                                <a class="boxed-btn3" href="#l">Our Services</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- slider_area_end -->
    <br>
    <br>
    <div class="col-xl-12">
        <div id="page-inner" >
            <h1>Selected Products List</h1>
                <table class="table table-bordered table-striped table-hover">
                    <thead style="background-color: green; color: white;"> <!-- Green background color for the table head -->
                        <th class="info">Item Name</th>
                        <th class="info">Total Amount</th>
                        <th class="info">Allowed Quantity</th> 
                        <th class="info">Action</th>
                    </thead>
                    {% for i in view_cart  %}
                        <tr>
                            <td>{{ i.product.item.item}}</td>
                            <td>{{ i.amount }}
                            <td>{{ i.quantity }}
                            <td><button style="background-color: limegreen;"><a href="cancel_order?id={{ i.id}}&id1={{ i.product.id}}" class="btn btn-success" >Remove cart</a></button></td>
                        </tr>
                    {% endfor %}
                </table>
        </div>
        <table class="table table-bordered table-striped table-hover">
            <thead>
                <th class="success" style="color: white; background-color: #81256c; width:560px">Total Amount: {{ asz }} Rs</th>
            </thead>
            <tbody>
                <td>
                    <button style="color: white;"><a href="Payment" class="btn btn-primary">Pay Online</a></button>
                </td>
            </tbody>
        </table>
    </div>
{% endblock %}
