{% extends 'customer/base.html' %}
{% load static %}
{% block content %} 
{% if message %}
<script>
alert("{{ message }}")
</script>
{% endif %}
<div class="container">
    <div class="row">
        <div class="col">
            <div id="page-inner">
                <h1>Products List</h1>
                {% regroup view_pp by card.card as card_list %} <!-- Grouping products by card -->
                {% for card in card_list %}
                <div class="col"> <!-- Adjust the column size based on your layout -->
                    <div class="card mb-3">
                        <div class="card-header">
                            <h2>{{ card.grouper }}</h2> <!-- Displaying card name as heading -->
                        </div>
                        <div class="card-body">
                            <div class="row">
                                {% for item in card.list %}
                                <div class="col-lg-3 col-md-4 col-6 mb-4"> <!-- Adjust the column size based on your layout -->
                                    <div class="card">
                    
                                        {% if item.item.image %}
                                 <img src="{{ item.item.image }}" style="max-width: 300px; max-height: 200px;">
                                     {% else %}
                                    No image available
                                    {% endif %}
                                     <!--   <img src="{{ item.image.url }}" class="card-img-top" alt="Product Image"> <!-- Replace with your image URL -->
                                        <div class="card-body">
                                            <p>{{ item.item.item }}</p>
                                            <p>{{ item.arrived }}</p>
                                            <p>{{ item.quantity }} kg (lt)</p>
                                            <p>{{ item.amount }} /-</p>
                                            <a href="/customer/CartView/{{ item.id }}/" class="btn btn-primary"><i class="fa fa-shopping-cart"></i> Add to Cart</a>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
