{% extends 'customer/base.html' %}
{% load static %}
{% block content %} 
{% if message %}
<script>
alert("{{ message }}")
</script>
{% endif %}
    <!-- slider_area_start -->
    <div class="slider_area">
        <div class="single_slider  d-flex align-items-center slider_bg_1">
            <div class="container">
                <div class="row align-items-center justify-content-center">
                    <div class="col-xl-8">
                        <div class="slider_text text-center justify-content-center">
                            <h3>CUSTOMER PAGE</h3>
                                <a class="boxed-btn3" href="s#">Our Services</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- slider_area_end -->
    <br>
    <br>
    <div class="col-xl-12">
        <div id="page-inner" >
            <h1> Products List</h1>
                <table class="table table-bordered table-striped table-hover">
                    <thead style="background-color: grey; color: white;"> <!-- grey background color for the table head -->
                        <th class="info">Card</th>
                        <th class="info">Item</th>
                        <th class="info">Arrived On</th>
                        <th class="info">Stock remaining</th>
                        <th class="info">Amount per kg</th>
                        <th class="info">Action</th>
                    </thead>
                    {% for i in view_pp  %}
                        <tr>
                            <td>{{ i.card.card}}</td>
                            <td>{{ i.item.item }}</td>
                            <td>{{ i.arrived }}</td>
                            <td>{{ i.quantity}} kg ( lt)</td>
                            <td>{{ i.amount}} /-</td>
                            <td><a href="/customer/CartView/{{i.id}}/" class="cart-btn"><i class="fa fa-shopping-cart"></i>Add to Cart</a></td>
                        </tr>
                    {% endfor %}
                </table>
        </div>
    </div>
    
{% endblock  %}
