{% extends 'customer/base.html' %}
{% load static %}
{% block content %} 
{% if message %}
<script>
alert("{{ message }}")
</script>
{% endif %}

<!-- Display the items' details -->
<h1> Items Details</h1>
<table id="print-table" class="table table-bordered table-striped table-hover">
    <th class="info">Item</th>
    <th class="info">Amount</th>  
    <th class="info">Kg</th>
    {% for i in pro  %}
    <tr>
        <td>{{ i.product.item.item }}</td>
        <td>{{ i.amount }}</td>  
        <td>{{ i.quantity }} kg</td>
    </tr>
    {% endfor %}
    <!-- Display total amount paid -->
    <tr>
        <td colspan="2" class="text-right"><strong>Total Amount Paid:</strong></td>
        <td>{{ total_amount_paid }}</td>
    </tr>
</table>

<!-- Add a button to print the table -->
<div class="text-center">
    <button class="btn btn-primary" onclick="printTable()">Print</button>
</div>

<!-- Print-specific CSS to hide everything except the table -->
<style>
@media print {
    body * {
        visibility: hidden;
    }
    #print-table,
    #print-table * {
        visibility: visible;
    }
    #print-table {
        position: absolute;
        left: 0;
        top: 0;
    }
}
</style>

<script>
// Function to print the table
function printTable() {
    window.print();
}
</script>

{% endblock %}
