{% extends 'customer/base.html' %}
{% load static %}
{% block content %} 
{% if message %}
<script>
alert("{{ message }}")
</script>
{% endif %}
<!-- Estimate_area start  -->
            <div class="col-xl-8 col-lg-8 col-md-7">
                <div class="form">
                    <form id="register-form" action="" method="post">
                        {% csrf_token %}
                        <div class="row">
                            
                            <div class="col-xl-6">
                                <div class="input_field">
                                    <label for="name">Name:</label>
                                    <input type="name" name="name" placeholder="Member name">
                                </div>
                            </div>
                            
                            <div class="col-xl-6">
                                <div class="input_field">
                                    <label for="relation">Relation with card owner:</label>
                                    <select class="custom-select" name="relation" required="required">
                                        <option value="">Select Relation with card owner</option>
                                        <option value="Husband">Husband</option>
                                        <option value="Wife">Wife</option>
                                        <option value="Father">Father</option>
                                        <option value="Mother">Mother</option>
                                        <option value="Daughter">Daughter</option>
                                        <option value="Son">Son</option>
                                      </select>
                                </div>
                            </div>
                            <div class="col-xl-6">
                                <div class="input_field">
                                    <label for="age">Age:</label>
                                    <input type="age" name="age" placeholder="Age">
                                </div>
                            </div>
                            <div class="col-xl-6">
                                <div class="input_field">
                                    <label for="gender">Gender:</label>
                                    <select class="custom-select" name="gender">
                                        <option selected>Select Gender</option>
                                        <option value="Male">Male</option>
                                        <option value="Female">Female</option>
                                        <option value="Other">Other</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-xl-6">
                                <div class="input_field">
                                    <label for="job">Job:</label>
                                    <input type="job" name="job" placeholder="Job">
                                </div>
                            </div>
                            <div class="col-xl-6">
                                <div class="input_field">
                                    <label for="card">Card:</label>
                                    <select class="custom-select" name="card">
                                        <option selected>Select card</option>
                                        {% for i in view_pp%}
                                        <option value="{{i.id}}">{{i.card}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            
                            <div class="col-xl-12">
                                <div class="input_field">
                                    <input type="submit" value="Add Member" class="boxed-btn3-line">                                  
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Estimate_area end  -->
{% endblock  %}