{% extends 'customer/base.html' %}
{% load static %}
{% block content %} 
{% if message %}
<script>
alert("{{ message }}")
</script>
{% endif %}
    <br>
    <br>
    <div class="col-xl-12 center">
        <div id="page-inner" >
            <h1>Approved Member Details</h1>
            <br>
                <table class="table table-bordered table-striped table-hover">
            
                    <th class="info">Member Name</th>
                    <th class="info">Relation</th>
                    <th class="info">Age</th>
                    <th class="info">Gender</th>
                    <th class="info">Job</th>
                    
                    
            {% for i in view1  %}
            
            <tr>
                
                <td>{{ i.name}}</td>
                <td>{{ i.relation }}
                <td>{{ i.age}}</td>
                <td>{{ i.gender}}</td>
                <td>{{ i.job}}</td>
                
            
            </tr>
        
                {% endfor %}
                
            </table>
        </div>
    </div>
    
    {% endblock  %}
    