{% extends 'customer/base.html' %}
{% load static %}
{% block content %} 
{% if message %}
<script>
alert("{{ message }}")
</script>
{% endif %}

    <br>
    <br>
    <div class="col-xl-12">
        <div id="page-inner" >
            <h1>Selected Products List</h1>
                <table class="table table-bordered table-striped table-hover">
            
                    <th class="info">Item Name</th>
                    <th class="info">Total Amount</th>
                    <th class="info">Allowed Quantity</th>
                    {% comment %} <th class="info">Image</th> {% endcomment %}
                    {% comment %} <th class="info">Arrived On</th> {% endcomment %}
                    <th class="info">Payment Status</th>  
                    <th class="info">Action</th>
                    {% comment %} <th class="info">Reject</th> {% endcomment %}
            {% for i in view_cart  %}
            
            <tr>
                
                <td>{{ i.product.item.item}}</td>
                <td>{{ i.amount }}
                <td>{{ i.quantity }}
               
                <td>{{ i.payment}}</td>               
                <td><button style="background-color:limegreen"><a href="cancel_order?id={{ i.id}}&id1={{ i.product.id}}" class=" btn btn-success" >Remove cart</a></button></td>
            
            </tr>
            
                {% endfor %}
            </table>
        </div>
        <table class="table table-bordered table-striped table-hover">
            <th class="success" style="color: white; background-color: #81256c; width:560px">Total Amound :{{ asz }}Rs</th>

<!--                         <td style="width: 105px">-->
<!--                             {{ asz }}-->
<!--                         </td>-->


                <td>
               <button style="color: white;"><a href="Payment" class=" btn btn-primary">Pay Online</a>
<!--                            <a href="buy" class="btn btn-primary py-3 px-5">Proceed To CheckOut</a>-->
               </button>
                </td>



        </table>
    </div>
    
    {% endblock  %}
    