{% extends 'customer/base.html' %}
{% load static %}
{% block content %}
{% if message %}
<script>
    alert("{{ message }}")
</script>
{% endif %}
<br>
<br>

<html>

<head>
    <meta charset="utf-8" />
    <title>Ration_shop</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" type="text/css" href="{% static 'asset/bootstrap/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'asset/font-awesome/css/font-awesome.min.css' %}" />

    <script type="text/javascript" src="{% static 'asset/js/jquery-1.10.2.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'asset/bootstrap/js/bootstrap.min.js' %}"></script>
</head>

<body>

    <div class="container">

        <div class="page-header text-center">
            <h1>Payment</h1>
        </div>

        <div class="breadcrumb-section breadcrumb-bg">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 offset-lg-2 text-center">
                        <div class="breadcrumb-text">
                            <h1>Payment</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Credit Card Payment Form - START -->

        <div class="row justify-content-center">
            <div class="col-xs-12 col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading text-center">
                     <img class="img-responsive cc-img" src="http://prepbootstrap.com/Content/images/shared/misc/creditcardicons.png">
                    </div>
                    <div class="panel-body">
                        <form method="post" action="chpayment">
                            {% csrf_token %}
                            <h4 class="text-center">Payable Amount: {{ asz }}</h4>

                            <div class="form-group">
                                <label>CARD NUMBER</label>
                                <div class="input-group">
                                    <input type="tel" class="form-control" placeholder="Valid Card Number" required pattern="[0-9]{4}[0-9]{4}[0-9]{4}[0-9]{4}" />
                                    <span class="input-group-addon"><span class="fa fa-credit-card"></span></span>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-7">
                                    <div class="form-group">
                                        <label>EXPIRATION DATE</label>
                                        <input type="tel" class="form-control" placeholder="MM / YY" required />
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <label>CV CODE</label>
                                        <input type="tel" class="form-control" placeholder="CVC" pattern="[0-9]{3}" required />
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label>CARD OWNER</label>
                                <input type="text" class="form-control" placeholder="Card Owner Names" onkeypress="return (event.charCode > 64 && event.charCode < 91) || (event.charCode > 96 && event.charCode < 123) || (event.charCode==32)" required />
                            </div>

                        </div>
                        <div class="panel-footer">
                            <div class="row">
                                <div class="col-xs-12">
                                    <button class="btn btn-warning btn-lg btn-block" type="submit">Process payment</button>
                                </div>
                            </div>
                        </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- Credit Card Payment Form - END -->

    </div>

</body>

</html>
<br>
<br>
<br>
<br>
<br>
{% endblock %}
