{% extends 'admin/adminindex.html' %}
{% load static %}

{% block body %}

<style>
  body {
    background-image: url("{% static 'images/r6.jpg' %}");
    background-size: cover;
    margin: 0;
    padding: 0;
  }

  .container {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }

  th,
  td {
    text-align: left;
    padding: 8px;
    border-bottom: 1px solid #ddd;
  }

  th {
    background-color: #f2f2f2;
  }

  tr:nth-child(even) {
    background-color: #f2f2f2;
  }

  td:last-child {
    text-align: center;
  }
</style>

<body>
  <div class="container">
    <div class="member-table">
      <form method="POST">
        {% csrf_token %}
        <div class="table-responsive">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Card holder Name</th>
                <th>Card Number</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Age</th>
                <th>Gender</th>
                <th>Occupation</th>
                <th>Relation</th>
                <th>Approval Status</th>
              </tr>
            </thead>
            <tbody>
              {% for member_obj in members %}
              <tr>
                <td>{{ member_obj.customer_name }}</td>
                <td>{{ member_obj.card_number }}</td>
                <td>{{ member_obj.fname }}</td>
                <td>{{ member_obj.lname }}</td>
                <td>{{ member_obj.age }}</td>
                <td>{{ member_obj.gender }}</td>
                <td>{{ member_obj.occu }}</td>
                <td>{{ member_obj.relation }}</td>
                <td>
                  <select class="form-control" name="approval_status_{{ member_obj.id }}">
                    <option value="pending" {% if member_obj.approve == 'pending' %}selected{% endif %}>Pending</option>
                    <option value="approved" {% if member_obj.approve == 'approved' %}selected{% endif %}>Approved</option>
                    <option value="declined" {% if member_obj.approve == 'declined' %}selected{% endif %}>Declined</option>
                  </select>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
      </form>
    </div>
  </div>
</body>

{% endblock body %}
