{% extends 'customer/customerbase.html' %}
{% load static %}
{% block body %}
<div class="container mt-4">
    <div class="table-responsive">
        <h3>Your Monthly Ration products </h3><br>
        <table class="table table-bordered table-striped table-hover">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Item Name</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Price</th>
                </tr>
            </thead>
            <tbody>
                {% for c in items %}    
                <tr>
                    <td>{{ c.item }}</td>
                    <td>{{ c.quantity }} Kg</td>
                    <td>Rs.{{ c.rate }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <br></br>
    </div>
</div>
<style>
      .table {
          width: 80%;
          margin: 0 auto;
      }
  
      th {
            background-color: #009900 !important;
            color: white;
        }
        
      tr:nth-child(even) {
          background-color: #f2f2f2;
      }
  
      tr:hover {
          background-color: #ddd;
      }
  </style>
  
{% endblock body %}
