{% extends 'customer/customerbase.html' %}
{% load static %}
{% block body %}
<div class="w-75 h-100" style="margin-left: 300px;margin-top:100px;">
<body>
      
      <table class="w-100 text-center">
            <tr>
                  <th>Item Name</th>
                  <th>Quantity</th>

            </tr>
            {% for i in stocklist %}
            <tr>
                  <td>{{i.item}}</td>
                  <td>{{i.quantity}} Kg</td>
                 
            </tr>
            {% endfor %}
            
      </table>
</div>
<style>
      table,th{
            border: 1px solid black;
      }
</style>
{% endblock body %}