{% extends 'admin/base.html' %}
{% load static %}
{% block content %} 
{% if message %}
<script>
alert("{{ message }}")
</script>
{% endif %}
    <!-- slider_area_start -->
    <div class="slider_area">
        <div class="single_slider  d-flex align-items-center slider_bg_1">
            <div class="container">
                <div class="row align-items-center justify-content-center">
                    <div class="col-xl-8">
                        <div class="slider_text text-center justify-content-center">
                            {% comment %} <p>user</p> {% endcomment %}
                            <h3>ADMIN PAGE</h3>
                                <a class="boxed-btn3" href="service.html">Our Services</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- slider_area_end -->
    <br>
    <br>
    <div class="col-xl-12">
        <div id="page-inner" >
            <h1>Pending Customer List</h1>
                <table class="table table-bordered table-striped table-hover">
            
                    <th class="info">Customer</th>
                    <th class="info">License Number</th>
                    <th class="info">Email</th>
                    <th class="info">Contact Number</th>
                    <th class="info">Address</th>
                    <th class="info">Location</th>
                    <th class="info">Approve</th>
                    <th class="info">Reject</th>
            {% for i in shop  %}
            
            <tr>
                
                <td>{{ i.user.first_name}}</td>
                <td>{{ i.license }}
                <td>{{ i.user.email}}</td>
                <td>{{ i.mobile}}</td>
                <td>{{ i.address}}</td>
                <td>{{ i.location}}</td>
                <td><a href="approve?id={{ i.user_id}}" class=" btn btn-success">Approve</a></td>
                <td><a href="reject?id={{ i.user_id}}" class=" btn btn-danger">Reject</a></td>
            
            </tr>
            
                {% endfor %}
            </table>
        </div>
    </div>
    
    {% endblock  %}
    