{% extends 'Delivery/base.html' %}
{% block content %}
<div class="container mt-5">
    <h3 class="mb-4">Picked Orders</h3>
    <div class="row">
        {% for order in picked_orders %}
        <div class="col-md-6">
            <div class="card mb-4 shadow-sm">
                <div class="card-body">
                    <h5 class="card-title">Order Code: {{ order.order_code }}</h5>
                    <p class="card-text"><strong>Customer Name:</strong> {{ order.customer_name }}</p>
                    <p class="card-text"><strong>Customer Email:</strong> {{ order.customer_email }}</p>
                    <p class="card-text"><strong>Order Received Date:</strong> {{ order.order_received_date }}</p>
                    <a href="mailto:{{ order.customer_email }}?subject=Your%20order%20is%20dispatched" class="btn btn-success">Send Email</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
