{% extends 'Delivery/base.html' %}
{% block content %}
<div class="container mt-5">
    <h3>Delivery Success</h3>
    <div class="container">
        <h2 class="title">
          <span class="title-word title-word-1">Your delivery</span>
          <span class="title-word title-word-2">was</span>
          <span class="title-word title-word-3">successful!</span>
          <span class="title-word title-word-4">Redirecting to delivery history page in</span>
          <span id="countdown">6</span> seconds...
        </h2>
      </div>
</div>

<style>
    .title-word {
        animation: color-animation 4s linear infinite;
      }
      
      .title-word-1 {
        --color-1: #DF8453;
        --color-2: #3D8DAE;
        --color-3: #E4A9A8;
      }
      
      .title-word-2 {
        --color-1: #DBAD4A;
        --color-2: #ACCFCB;
        --color-3: #17494D;
      }
      
      .title-word-3 {
        --color-1: #ACCFCB;
        --color-2: #E4A9A8;
        --color-3: #ACCFCB;
      }
      
      .title-word-4 {
        --color-1: #3D8DAE;
        --color-2: #DF8453;
        --color-3: #E4A9A8;
      }
      
      @keyframes color-animation {
        0%, 32%, 100% { color: var(--color-1); }
        33%, 65% { color: var(--color-2); }
        66%, 99% { color: var(--color-3); }
      }

      /* Define the keyframes for the color change animation */
      @keyframes changeColor {
          0% { color: #007bff; } /* Start with blue color */
          25% { color: #28a745; } /* Change to green at 3 seconds */
          50% { color: #ffc107; } /* Change to yellow at 2 seconds */
          75% { color: #dc3545; } /* Change to red at 1 second */
          100% { color: #f8f9fa; } /* Change to light color at 0 seconds */
      }

      /* Apply the color change animation to the text */
      #countdown {
          animation: changeColor 5s linear forwards;
      }
</style>

<script>
    var countdown = 6; // Initial countdown value
    var countdownInterval = setInterval(function() {
        countdown--;
        document.getElementById('countdown').textContent = countdown; // Update the countdown display

        if (countdown <= 0) {
            clearInterval(countdownInterval); // Stop the countdown when it reaches 0
            window.location.href = "{% url 'delivery_history' %}";
        }
    }, 1000); // Update the countdown every second
</script>
{% endblock %}
