{% extends 'Delivery/base.html' %}
{% block content %}
<div class="container">
    <h3 class="mt-5 mb-4">Delivery Process</h3>
    <p>Delivering Order ID: {{ order.id }}</p>
    <p>Customer: {{ order.cust.user.first_name }}</p>
    <p>Address: {{ order.cust.address }}</p>
    <p>Items:</p>
    <ul>
        {% for item in order.cart_set.all %}
        <li>{{ item.product.item.item }} - {{ item.quantity }} kg</li>
        {% endfor %}
    </ul>
    <p>Total Payment: {{ order.amount }}</p>
    <p>Status: {{ order.status }}</p>
    <p>Delivery Boy: {{ order.delivery_boy }}</p>
</div>
{% endblock %}
