{% extends 'Delivery/base.html' %}
{% block content %}
<div class="container">
    <h3 class="mt-5 mb-4">Delivery Notification</h3>
    <form method="post" action="">
        {% csrf_token %}
        <div class="form-group">
            <label for="locationSelect">Filter by Location:</label>
            <select class="form-control" id="locationSelect" name="location">
                <option value="">All Locations</option>
                {% for order in orders %}
                    <option value="{{ order.cust.location }}">{{ order.cust.location }}</option>
                {% endfor %}
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Filter</button>
    </form>
    {% if orders %}
    <div class="table-responsive mt-4">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Order ID</th>
                    <th>Customer</th>
                    <th>Place</th>
                    <th>Address</th>
                    <th>Items</th>
                    <th>Total Amount Paid</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for order in orders %}
                <tr>
                    <td>{{ order.id }}</td>
                    <td>{{ order.cust.user.first_name }}</td>
                    <td>{{ order.cust.location }}</td>
                    <td>{{ order.cust.address }}</td>
                    <td>
                        <ul>
                            <li>{{ order.product.item.item }} - {{ order.quantity }} kg</li>
                        </ul>
                    </td>
                    <td>{{ order.amount }}</td>
                    <td>{{ order.status }}</td>
                    <td>
                        <form method="post" action="{% url 'accept_order' order.id %}">
                            {% csrf_token %}
                            <input type="hidden" name="order_id" value="{{ order.id }}">
                            <button type="submit" class="btn btn-success" name="action" value="accept">Accept</button>
                        </form>
                                                                    
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% else %}
    <p>No orders available</p>
    {% endif %}
</div>
{% endblock %}
