{% extends 'layouts/main.html' %}
{% load static %}
{% block body %}


<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-5 text-center">
            <div class="login-box">
                <h2 class="text-center">Login</h2>
                <form action="" method="POST">
                {% csrf_token %}   
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" class="form-control" id="username" name="username" placeholder="Enter your username" required>
                </div>
                    {% for messages in messages %}
                    <h6 style="color:#ff512f">{{messages}}</h6>
                    {% endfor %}
                 
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" id="password" name="password" placeholder="Enter your password">
                    </div>
                    <button type="submit" class="btn btn-primary btn-block">Login</button>
                </form>
                
                <hr>
                <div class="text-center">
                    <a href="{% url 'password_reset' %}">Forgot Password?</a>
                </div>
                <div class="text-center mt-3">
                    Don't have an account? <a href="{% url 'Registrationpage' %}">Register</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock body %}