{% load static %}
<!-- Header Section Begin -->
<header class="header">
    <div class="header__top">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="header__top__left">
                        <ul>
                            <li><i class="fa fa-envelope"></i> eration@kerala.com.in</li>
                            <li>Free Shipping for all Orders over 99</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="header__top__right">
                        <div class="header__top__right__social">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-pinterest-p"></i></a>
                        </div>
                        <div class="header__top__right__language">
                            <img src="img/language.png" alt="">
                            <div>English</div>
                            <span class="arrow_carrot-down"></span>
                            <ul>
                                <li><a href="#">Malayalam</a></li>
                                <li><a href="#">English</a></li>
                            </ul>
                        </div>

                        <div class="header__top__right__auth">
                            {% if user.is_authenticated %}
                                <p>Logged in as: {{ user.username }}</p>
                                <a href="{% url 'logout' %}" style="color: blue;"><i class="fa fa-sign-out"></i> Logout</a>
                            {% else %}
                                <a href="{% url 'signin' %}"><i class="fa fa-user"></i><b> Login</b></a>
                            {% endif %}
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="header__logo">
                    <a href="{% url 'index' %}"><img src="{% static 'assets/img/logo.png' %}" alt=""></a>
                </div>
            </div>
            <div class="col-lg-6">
                <nav class="header__menu">
                    <ul>
                        <li class="active"><a href="{% url 'index' %}">Home</a></li>
                        <li><a href="{% url 'blog' %}">Blog</a></li>
                        <li><a href="{% url 'contact' %}">Contact</a></li>
                        {% if user.is_authenticated %}
                        <li><a href="{% url 'ration' %}">Ration</a></li>
                        <li><a href="#">Pages</a>
                            <ul class="header__menu__dropdown">
                                <li><a href="{% url 'addmembers' %}">Add Members</a></li>
                                <li><a href="./shoping-cart.html">Shopping Cart</a></li>
                                <li><a href="{% url 'collections' %}">Shops</a></li>
                                <li><a href="{% url 'customer' %}">products</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="col-lg-3">
                <div class="header__menu">
                    <ul>
                        <li><a href="./shoping-cart.html"><i class="fa fa-shopping-bag"></i> <span id="item-count">00</span></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="humberger__open">
        <i class="fa fa-bars"></i>
    </div>
    
                        {% endif %}
                        {% if not user.is_authenticated %}
                            <li><a href="#">Register</a>
                                <ul class="header__menu__dropdown">
                                    <li><a  href="{% url 'customersignup' %}">Customer</a></li>
                                    <li><a href="{% url 'shopownersignup' %}">Shop Owner</a></li>
                                </ul>
                            </li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
    </div>
</header>
<!-- Header Section End -->
