{% extends 'admin/base.html' %}
{% load static %}
{% block content %} 
{% if message %}
<script>
alert("{{ message }}")
</script>
{% endif %}
<!-- Estimate_area start  -->
<div class="Estimate_area overlay">
    <div class="container">
        <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-5">
                <div class="Estimate_info">
                    <h3>Register to avail services</h3>
                    <p>The Department of Civil Supplies functions under the Department of Food, Civil Supplies and Consumer Affairs of the Government of Kerala.</p>
                    <a href="#" class="boxed-btn3">+91 9966336699</a>
                </div>
            </div>
            <div class="col-xl-8 col-lg-8 col-md-7">
                <div class="form">
                    <form id="register-form" action="" method="post">
                        {% csrf_token %}
                        <div class="row">                          
                            <div class="col-xl-12">
                                <div class="input_field">
                                    <label for="card">Card:</label>
                                    <input type="card" name="card" placeholder="card color">
                                    <input type="allowed_quantity" name="allowed_quantity" placeholder="Allowed quantity per card">
                                </div>
                            </div>                          
                            <div class="col-xl-12">
                                <div class="input_field">
                                    <input type="submit" value="Create Card Type" class="boxed-btn3-line">                                  
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Estimate_area end  -->
{% endblock  %}