{% extends 'admin/index.html' %}
{% load static %}
{% block content %} 
{% if message %}
<script>
alert("{{ message }}")
</script>
{% endif %}
<!-- Estimate_area start  -->
<div class="Estimate_area overlay">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-body">
                        <p class="text-center mb-4">The Department of Civil Supplies functions under the Department of Food, Civil Supplies and Consumer Affairs of the Government of Kerala.</p>
                        <form id="register-form" action="" method="post">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="card">Card:</label>
                                        <input type="text" name="card" class="form-control" placeholder="Card color">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="allowed_quantity">Allowed Quantity per Card:</label>
                                        <input type="text" name="allowed_quantity" class="form-control" placeholder="Allowed quantity per card">
                                    </div>
                                </div>
                                <div class="col-md-12 text-center">
                                    <div class="form-group">
                                        <input type="submit" value="Create Card Type" class="btn btn-primary btn-lg">                                  
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Estimate_area end  -->
{% endblock  %}
