{% extends 'admin/index.html' %}
{% load static %}
{% block content %}
<div class="container">
    <h1 class="text-center">Deleted Delivery Boys History</h1>
    <hr>
    {% for deleted_delivery_boy in deleted_delivery_boys %}
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">{{ deleted_delivery_boy.name }}</h5>
            <p class="card-text"><strong>Delete Date:</strong> {{ deleted_delivery_boy.delete_date }}</p>
            <p class="card-text"><strong>Delete Reason:</strong> {{ deleted_delivery_boy.delete_reason }}</p>
        </div>
    </div>
    {% endfor %}
</div>
</body>
</html>
{% endblock %}
