{% load static %}
<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Ogani Template">
    <meta name="keywords" content="Ogani, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>E-Ration</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'assets/css/font-awesome.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'assets/css/elegant-icons.css' %} " type="text/css">
    <link rel="stylesheet" href="{% static 'assets/css/nice-select.css' %} " type="text/css">
    <link rel="stylesheet" href="{% static 'assets/css/jquery-ui.min.css' %} " type="text/css">
    <link rel="stylesheet" href="{% static 'assets/css/owl.carousel.min.css' %} " type="text/css">
    <link rel="stylesheet" href="{% static 'assets/css/slicknav.min.css' %} " type="text/css">
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %} " type="text/css">
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Humberger Begin -->
    {% load static %}
<!-- Header Section Begin -->
<header class="header">
    <div class="header__top">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="header__top__left">
                        <ul>
                            <li><i class="fa fa-envelope"></i> eration@kerala.com.in</li>
                            <li>Free Shipping for all Orders over 99</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="header__top__right">
                        <div class="header__top__right__social">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-pinterest-p"></i></a>
                        </div>
                        <div class="header__top__right__language">
                            <img src="img/language.png" alt="">
                            <div>English</div>
                            <span class="arrow_carrot-down"></span>
                            <ul>
                                <li><a href="#">Malayalam</a></li>
                                <li><a href="#">English</a></li>
                            </ul>
                        </div>

                        <div class="header__top__right__auth">
                            {% if user.is_authenticated %}
                                <p>Logged in as: {{ user.username }}</p>
                                <a href="{% url 'logout' %}" style="color: blue;"><i class="fa fa-sign-out"></i> Logout</a>
                            {% else %}
                                <a href="{% url 'signin' %}"><i class="fa fa-user"></i><b> Login</b></a>
                            {% endif %}
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="header__logo">
                    <a href="{% url 'index' %}"><img src="{% static 'assets/img/logo.png' %}" alt=""></a>
                </div>
            </div>
            <div class="col-lg-6">
                <nav class="header__menu">
                    <ul>
                        <li class="active"><a href="{% url 'index' %}">Home</a></li>
                        <li><a href="{% url 'blog' %}">Blog</a></li>
                        <li><a href="{% url 'contact' %}">Contact</a></li>
                        {% if user.is_authenticated %}
                        <li><a href="{% url 'ration' %}">Ration</a></li>
                        <li><a href="#">Pages</a>
                            <ul class="header__menu__dropdown">
                                <li><a href="{% url 'addmembers' %}">Add Members</a></li>
                                <li><a href="./shoping-cart.html">Shopping Cart</a></li>
                                <li><a href="{% url 'collections' %}">Shops</a></li>
                                <li><a href="{% url 'customer' %}">products</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="col-lg-3">
                <div class="header__menu">
                    <ul>
                        <li><a href="./shoping-cart.html"><i class="fa fa-shopping-bag"></i> <span id="item-count">00</span></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="humberger__open">
        <i class="fa fa-bars"></i>
    </div>
    
                        {% endif %}
                        {% if not user.is_authenticated %}
                            <li><a href="#">Register</a>
                                <ul class="header__menu__dropdown">
                                    <li><a  href="{% url 'customersignup' %}">Customer</a></li>
                                    <li><a href="{% url 'shopownersignup' %}">Shop Owner</a></li>
                                </ul>
                            </li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
    </div>
</header>
{% block body %}
{% endblock body %}  
   <!-- Hero Section End -->
{% include 'inc/slider.html' %}

  <!-- Categories Section Begin -->
  <section class="categories">
    <div class="container">
        <div class="row">
            <h2 class="text-center">Our Products</h2>
            <div class="categories__slider owl-carousel">
                <div class="col-lg-3">
                    <div class="categories__item set-bg" data-setbg="{% static 'assets/img/categories/cat-1.jpg' %}">
                        <h5><a href="#">Rice</a></h5>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="categories__item set-bg" data-setbg="{% static 'assets/img/categories/cat-2.jpg' %}">
                        <h5><a href="#">Kerosene</a></h5>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="categories__item set-bg" data-setbg="{% static 'assets/img/categories/cat-3.jpg' %}">
                        <h5><a href="#">Wheat</a></h5>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="categories__item set-bg" data-setbg="{% static 'assets/img/categories/cat-4.jpg' %}">
                        <h5><a href="#">Sugar</a></h5>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="categories__item set-bg" data-setbg="{% static 'assets/img/categories/cat-5.jpg' %}">
                        <h5><a href="#">Atta</a></h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Categories Section End -->
<!-- Banner Begin -->
<div class="banner">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="banner__pic">
                    <img src="{% static 'assets/img/banner/banner-11.jpg' %}" alt="">
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="banner__pic">
                    <img src="{% static 'assets/img/banner/banner-22.jpg' %}" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Banner End -->



 <!-- Blog Section Begin -->
 <section class="from-blog spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title from-blog__title">
                    <h2>From The Blog</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="blog__item">
                    <div class="blog__item__pic">
                        <img src="{% static 'assets/img/blog/blog-11.jpg' %}" alt="">
                    </div>
                    <div class="blog__item__text">
                        <ul>
                            <li><i class="fa fa-calendar-o"></i> Oct 1,2023</li>
                            <li><i class="fa fa-comment-o"></i> 5</li>
                        </ul>
                        <h5><a href="#">Ration shop times</a></h5>
                        <p>റേഷന്‍ കടകളുടെ നിലവിലെ പ്രവര്‍ത്തന സമയം:-
                            8.00 am to 12.00 noon & 4.00 pm to 7.00 pm </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="blog__item">
                    <div class="blog__item__pic">
                        <img src="{% static 'assets/img/blog/blog-22.jpg' %}" alt="">
                    </div>
                    <div class="blog__item__text">
                        <ul>
                            <li><i class="fa fa-calendar-o"></i> Oct 1,2023</li>
                            <li><i class="fa fa-comment-o"></i> 5</li>
                        </ul>
                        <h5><a href="#">Sandes മൊബൈൽ ആപ്പ്</a></h5>
                        <p> 
                            റേഷൻ കാർഡ് ഓൺലൈൻ ആപ്ലിക്കേഷൻ സ്റ്റാറ്റസ്, പ്രിന്റ് പാസ്‌വേഡ് എന്നിവ ലഭിക്കുന്നതിന് 
                            Sandes മൊബൈൽ ആപ്പ് 
                            ഡൗൺലോഡ് ചെയ്യുക. </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="blog__item">
                    <div class="blog__item__pic">
                        <img src="{% static 'assets/img/blog/blog-33.jpg' %}" alt="">
                    </div>
                    <div class="blog__item__text">
                        <ul>
                            <li><i class="fa fa-calendar-o"></i> Oct 1,2023</li>
                            <li><i class="fa fa-comment-o"></i> 5</li>
                        </ul>
                        <h5><a href="#">Department of Civil supplies </a><a>& Consumer Affairs</a></h5>
                        <p>The Civil Supplies Department discharges the important responsibilities of Public Distribution, enforcement of markets discipline and promotion of consumer awareness and protection of their interest. In the 60s and 70s it won many accolades for the pioneering achievements in the implementation of Universal Rationing System.t </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Blog Section End -->

<!-- Footer Section Begin -->
<footer class="footer spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="footer__about">
                    <div class="footer__about__logo">
                        <a href="./index.html"><img src="{% static 'assetsimg/logo.png' %}" alt=""></a>
                    </div>
                    <ul>
                        <li>Address: kerala</li>
                        <li>Phone: +65 11.188.888</li>
                        <li>Email: eration@kerala.com.in</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 offset-lg-1">
                <div class="footer__widget">
                    <h6>Useful Links</h6>
                    <ul>
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">About Our Shop</a></li>
                        <li><a href="#">Secure Shopping</a></li>
                        <li><a href="#">Delivery infomation</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                        <li><a href="#">Our Sitemap</a></li>
                    </ul>
                    <ul>
                        <li><a href="#">Who We Are</a></li>
                        <li><a href="#">Our Services</a></li>
                        <li><a href="#">Projects</a></li>
                        <li><a href="#">Contact</a></li>
                        <li><a href="#">Innovation</a></li>
                        <li><a href="#">Testimonials</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-12">
                <div class="footer__widget">
                    <h6>Join Our Newsletter Now</h6>
                    <p>Get E-mail updates about our latest shop and special offers.</p>
                    <form action="#">
                        <input type="text" placeholder="Enter your mail">
                        <button type="submit" class="site-btn">Subscribe</button>
                    </form>
                    <div class="footer__widget__social">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-instagram"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-pinterest"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="footer__copyright">
                    <div class="footer__copyright__text"><p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved |  <i class="fa fa-heart" aria-hidden="true"></i> by <a href="#" target="_blank">NithinR</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p></div>
                    <div class="footer__copyright__payment"><img src="{% static 'assets/img/payment-item.png' %} " alt=""></div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Footer Section End -->

<!-- Js Plugins -->
<script src="{% static 'assets/js/jquery-3.3.1.min.js' %} "></script>
<script src="{% static 'assets/js/bootstrap.min.js' %} "></script>
<script src="{% static 'assets/js/jquery.nice-select.min.js' %} "></script>
<script src="{% static 'assets/js/jquery-ui.min.js' %} "></script>
<script src="{% static 'assets/js/jquery.slicknav.js' %} "></script>
<script src="{% static 'assets/js/mixitup.min.js' %} "></script>
<script src="{% static 'assets/js/owl.carousel.min.js' %} "></script>
<script src="{% static 'assets/js/main.js' %} "></script>



</body>

</html>